/*header {
	background-color: #b3b3b3;
	background-image: url("../images/flywheel.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px;
	text-align: center;
}

body {
	padding: 10px;
	margin: 10px;
}

nav a {
	display: inline-block;
	width: 15%;
	text-decoration: none;
	border-radius: 10px;
	padding: 15px;
	margin: 20px;
	color: #000000;
	background: rgba(211, 211, 211, 0.5);
}

.active {
	color: #0000FF;
	background: rgba(255, 255, 255, 1.0);
}

h1 {
	text-align: center;
	color: #ededed;
	margin-bottom: 0px;
	font-size: 25px;
}

h2 {
	color: #000000;
}

h1, h2 {
	text-transform: uppercase;
}

section {
	background: #ffffff;
}


aside img {
	max-width: 100%;
	height: auto;
	border: solid 2px #000000;
	margin: 0 auto;
	margin-top: 30px;
	display: block;
}


.left{
	background-color: #808000;
	width: 15%;
	height: 100vh;
	float: left;
	display: inline-block;
	padding: 2%;
}

.right {
	display: inline-block;
	width: 75%;
	float: left;
	padding-left: 1%;
}

*/

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #F2F2F2;
  margin: -10px;
 
}
nav {
  color: #000000;
  display: block;
  height: 20px;
  
}
nav a{
  display:inline-block;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: rgba(240,240,240,0.2);
  margin: 20px;
  padding: 15px 3px;
  font-size: 120%;
  clear: both;
  position: relative
   
}
header {
  background-color: #BEC7C7;
  background: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg")  no-repeat;
  clear: both;
  height: 120px;
  padding: 20px 90px;
  background-size: 100% auto;
  padding-top: 40px;
    
}
img {
  width: 150px;
  margin: 2px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #607D3B;
  border: 2px solid black;
  
}
h2 {
  text-transform: uppercase;
  color: #110066;
  
}
section {
  font-size: 120%;
  font-style: bold;
}
aside a {
  background-color: #607D3B;
}
.left {
  float: left;
  width: 17%;
  display: inline-block;
  background-color: #607D3B;
  padding: 10px 5px;
  text-align: center;
}
.right {
  float: right;
  display: inline-block;
  width: 80%;
  text-align: left;
  margin: 0 1%;
}
.active {
  background-color: #FFFEFC;
  color: #0A1172;
}
body {
  padding: 10px;
  margin: 1%;
}




