header {
	background-color: #b3b3b3;
	background-image: url("../images/flywheel.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 1%;
}

body {
	padding: 1%;
	margin: 1%;
	font-size: 18px;
}

/*For navigation*/
nav a {
	display: inline-block;
	width: 15%;
	text-decoration: none;
	border-radius: 10px;
	padding: 1%;
	margin: 2%;
	color: #000000;
	background: rgba(211, 211, 211, 0.5);
	height: auto;
}

.active {
	color: #0000FF;
	background: rgba(255, 255, 255, 1.0);
}

h1 {
	text-align: center;
	color: #ededed;
	margin-bottom: 0px;
	padding: 1%;
	font-size: 25px;
}

h2 {
	color: #000000;
}

h1, h2 {
	text-transform: uppercase;
}


/* For left aside image column */
aside img {
	max-width: 100%;
	height: auto;
	border: solid 2px #000000;
	margin: 0 auto;
	margin-bottom: 30px;
	display: block;
}


.left{
	background-color: #808000;
	width: 15%;
	height: 100vh;
	float: left;
	display: inline-block;
	padding: 2%;
}


/* For right side column */
.right {
	display: inline-block;
	width: 80%;
	height: 100vh;
	float: right;
	padding-bottom: 4%;
	padding-left: 1%;	
	background: #fff;
}

/* For table design */
/* table style */
table {
	font-size: 16px;
	line-height: 28px;
	width: 75%;
	margin: 2% auto;
}

/* table header */
th {
	/* for gradient */
	background: -moz-linear-gradient(to top, #808000, #c0c080);
	background: -webkit-linear-gradient(top, #808000, #c0c080);
	background: -o-linear-gradient(to top, #808000, #c0c080);
	background: linear-gradient(to top, #808000, #c0c080);

	border-bottom: 3px solid #cccc99;
	border-radius: 5px 5px 0 0;
	padding: 1%;
	color: #f2f2e6;
}

/* rows */
tr:nth-of-type(n+2) {
	opacity: 0.6;
	text-align: center;
}

tr:hover {
	opacity: 1;
}

th:first-child, td:first-child {
	text-align: left;
}

/* for td */
td {
	padding: 1%;
	color: #1a1a00;	
	background: #d9d9b3;
	border-radius: 2px;
	text-shadow: 1px 1px 2px #666600;
}







