header {
	background-color: #b3b3b3;
	background-image: url("../images/flywheel.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px;
	text-align: center;
}

body {
	padding: 10px;
	margin: 10px;
}

nav a {
	display: inline-block;
	width: 15%;
	text-decoration: none;
	border-radius: 10px;
	padding: 15px;
	margin: 20px;
	color: #000000;
	background: rgba(211, 211, 211, 0.5);
}

.active {
	color: #0000FF;
	background: rgba(255, 255, 255, 1.0);
}

h1 {
	text-align: center;
	color: #ededed;
	margin-bottom: 0px;
	font-size: 25px;
}

h2 {
	color: #000000;
}

h1, h2 {
	text-transform: uppercase;
}

section {
	background: #ffffff;
}


aside img {
	max-width: 100%;
	height: auto;
	border: solid 2px #000000;
	margin: 0 auto;
	margin-top: 30px;
	display: block;
}


.left{
	background-color: #808000;
	width: 15%;
	height: 100vh;
	float: left;
	display: inline-block;
	padding: 2%;
}

.right {
	display: inline-block;
	width: 75%;
	float: left;
	padding-left: 1%;
}




